SolucionTransportistaTDM/AppTransportistaTDM/AppTransportistaTDM/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Voxiva.TDMDigitalBE.Modelo.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Voxiva.TDMDigitalBE.Modelo.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCertificadocalidadOC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CertificadocalidadOC" nillable="true" type="tns:CertificadocalidadOC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificadocalidadOC" nillable="true" type="tns:ArrayOfCertificadocalidadOC" />
  <xs:complexType name="CertificadocalidadOC">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrdenCompra" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificadocalidadOC" nillable="true" type="tns:CertificadocalidadOC" />
  <xs:complexType name="CertificadoCalidadView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlCertificado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificadoCalidadView" nillable="true" type="tns:CertificadoCalidadView" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mesagge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
</xs:schema>